# ===========================
# Dependencies
# ===========================
Backend/node_modules/
Frontend/node_modules/

# ===========================
# Environment files
# ===========================
Backend/.env
Frontend/.env

# ===========================
# Logs
# ===========================
*.log
npm-debug.log*

# ===========================
# Build
# ===========================
Frontend/dist/
Backend/dist/

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# VS Code
# ===========================
.vscode/