.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 30px;
margin-bottom:35px;
background:rgba(255,255,255,.05);
border:1px solid rgba(255,255,255,.08);
border-radius:20px;
backdrop-filter:blur(18px);
}

.topbar h1{
font-size:32px;
margin-bottom:8px;
color:white;
}

.topbar p{
color:var(--text-secondary);
font-size:15px;
}

.topbar-right{
display:flex;
align-items:center;
gap:18px;
}

.profile-avatar{
width:48px;
height:48px;
border-radius:50%;
background:linear-gradient(
135deg,
var(--primary),
var(--primary-light)
);
display:flex;
justify-content:center;
align-items:center;
font-weight:700;
font-size:18px;
color:white;
}

.notification-btn{
width:45px;
height:45px;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
border:none;
background:rgba(255,255,255,.08);
cursor:pointer;
transition:.3s;
}

.notification-btn:hover{
background:var(--primary);
}

@media(max-width:768px){
.topbar{
flex-direction:column;
align-items:flex-start;
gap:20px;
}
}